/* Poppins font is imported from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: rgba(63, 63, 19, 0.335);
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 30px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.main-container {
  color: black;
  display: flex;
  flex-flow: row wrap;
}

/* This is the sub-container of main-container */
.container {
  margin: 20px;
  padding: 10px;
  background-color: rgba(137, 43, 226, 0.144);
  border-radius: 5px;
}

h3 {
  margin: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
